#ListOfPatients{
	/*background-image : url("bg1.jpg");*/
	background-attachment : scroll;
	background-position : top;
	width : 20%;
	float : left;
	padding : 0.5%;
}

#ListOfPatients label{
	text-align : center;
	width : 100%;
	font-weight : bold;
}

#ListOfPatients #PatientList{
	overflow : scroll;
	overflow-x : hidden;
	text-align : center;
	width : auto;
	margin : 0px;
	padding : 0px;
	border-style : solid;
	border-width : 1px;
}

#ListOfPatients #PatientList li{
	padding-top : 1em;
	padding-bottom : 1em;
	border-style : solid;
	border-width : 1px;
}

#ListOfPatients #PatientList li{
	padding-top : 1em;
	padding-bottom : 1em;
	border-style : solid;
	border-width : 1px;
}

#ListOfPatients #PatientList #VideoList{
	width : 80%;
}

#ListOfPatients #PatientList #VideoList li{
	width : 100%;
	padding : 0px;
	text-align : center;
}

#ListOfPatients #PatientList #VideoList li span{
	width : 70%;
	height : 100%;
	float : left;
}

#ListOfPatients #PatientList #VideoList li img{
	width : 30%;
	margin : 0px;
}
