header{
	/*background-image: url("bg3.jpg");*/
	background-attachement: scroll;
	background-position: top;
	left: 0.5%;
	top: 0.5%;
	display: block;
	margin: 0 auto;
	height: auto;
	width: 100%;
	float: left;
	border: px solid black;
	color: white;
	height: 30px;
}
