.frame1
{
	background-image: url("bg1.jpg");
	background-attachment: scroll; 
	background-position: top;
	width: 100%;
	height: auto;
	margin-left: 0.5%;
	top:00px;
	border: 1px solid black;
	float:left;
	text-align : center;
}
